:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.nav-bar {
  background-color: rgb(63, 62, 62);
  height: 4rem;
  display: flex;
}

.hero-image {
  height: 50rem;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(26, 27, 27);
}
/* .poster-image {
  height: 6rem;
  width: 3rem; */
/* } */

.nav-bar p {
  display: flex;
  color: whitesmoke;
  margin-left: 18rem;
  text-align: center;
}

/* footer {
  display: flex;
<<<<<<< HEAD
  justify-content: center;
  text-align: center;
} */

.bullshirt {
  display: flex;
}

.bullshirt-posters {
  display: flex;
  flex-wrap: wrap;
=======
  justify-content: flex-end;
  align-items: center;
>>>>>>> 53c8bbdc60271a2b18751291071f75afa2b8da67
}
